In [23]:
## Read data with pandas
import pandas as pd

In [25]:
data = pd.read_csv("netflix_data.csv")

In [27]:
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,4,In a future where the elite inhabit an island ...,International TV
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas

# Question 1

In [50]:
# data.loc[<row labels>, <column labels>]
data.loc[:,["type"]].value_counts()

type
Movie      5377
TV Show    2410
dtype: int64

In [51]:
data.loc[:,"type".value_counts()

SyntaxError: unexpected EOF while parsing (<ipython-input-51-95f56ce53903>, line 1)

In [55]:
print(data["type"].value_counts())
#using groupby

Movie      5377
TV Show    2410
Name: type, dtype: int64

# Question 2

In [59]:
data.groupby("type").groups

{'Movie': [1, 2, 3, 4, 6, 7, 8, 9, 10, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 25, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 52, 54, 55, 56, 57, 59, 60, 62, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 109, 110, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, ...], 'TV Show': [0, 5, 11, 12, 16, 24, 26, 29, 38, 45, 51, 53, 58, 61, 63, 64, 80, 85, 86, 87, 95, 108, 111, 112, 130, 132, 134, 137, 138, 139, 140, 141, 142, 152, 180, 188, 191, 195, 197, 198, 199, 202, 213, 218, 225, 235, 239, 241, 248, 256, 258, 259, 260, 276, 284, 288, 289, 290, 294, 303, 306, 319, 321, 322, 324, 333, 335, 336, 337, 338, 339, 340, 341, 348, 349, 350, 357, 359, 360, 363, 364, 365, 367, 380, 389, 393, 396, 398, 404, 405, 409, 411, 412, 426, 428, 434, 437, 440, 449, 451, ...]}

In [60]:
data.groupby(["type"]).size()

type
Movie      5377
TV Show    2410
dtype: int64